body{
    background-color: #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #09687a;
    color: #ffffff;
  }
  
  li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #00d5ff;
    color: white;
  }
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #09687a;
    color: #ffffff;
    width: 200px;
 }
 span{
    color: #09687a;
}