table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #09687a;
    text-align: left;
    padding: 8px;
    color: blue;
  }
  
  tr:nth-child(even) {
    background-color: #09687a;
  }
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #09687a;
    width: 200px;
  }
  a{
    color: blue;
  }
  span{
    color: #09687a;
} 
